# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# macOS
.DS_Store

# uv
uv.lock

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/

# Type checking
.mypy_cache/